/* ========= 
    TAGS 
=========*/
body{
    background-color: #ecc3c1;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* Contenido principal */
main{
    grid-area: main;
    padding: 25px;
}
/* Menu derecho */
aside{
    grid-area: side;
    display: grid;
    padding: 35px;
    align-items: center;
}
/* Footer */
footer{
    grid-area: footer;
    overflow: hidden;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #703757;
    padding-top: 10px;
}

/* ==== RECURSOS GRATIS ====*/
 table , th {
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    text-align: center;
}
tr, td {
    border: 1px solid black;
    border-collapse: collapse; 
}

/* ========= 
    CLASS 
=========*/
.texto{
    letter-spacing: 2px;
    word-spacing: 2px;
}
/* Menu superior */
.nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    background-color: #703757;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
}
.nav li {
    font-size: 20px;
    font-weight: bold;
    color: #1d1d1b;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding: 10px 10px;
}
.nav li:hover {
    background: #ECC3C1;
}
/* Grid */
.grid{
    display: inline-grid;
    grid-template-areas: 
    "main side"
    "footer footer";
    grid-template-columns: 70vw 25vw;  
    margin-top: 80px;
}
/* Menu derecha */
.item-menu-der{
    border: 1px solid black;
    padding: 5px 15px;
    background-color: #f6c270;
}
.about .formulario {
    text-align: center;
}
.centrado{
    text-align: center;
}
/* Footer */
.logos{
    height: 30px;
    width: 30px;
    text-decoration: none;
}

/*==== TIENDA ==== */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lista-cursos{
    width: 1000px;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
}
.move{
    transition: all .2s ease-in-out;
}
.move:hover {
    transform: scale(1.5);
}

/*==== BLOG ==== */
.cursiva{
    font-style: italic;
}

/* ========= 
    IDs 
========= */
#terminos-condiciones{
    padding-top: 10px;
    padding-bottom: 15px;
}
