/*======================*/
/*   Query  320px     */
/*======================*/

@media screen and (max-width: 320px) {
    .grid{
<<<<<<< HEAD
        grid-template-areas: 
        "main"
        "side"
        "footer";
        grid-template-columns: 100vw;
        }
    }
=======
        display: grid;
        grid-area: auto;
    }
    footer{
        width: auto;
    }
}
>>>>>>> develop
