/*======================*/
/*   Query  320px     */
/*======================*/

@media screen and (max-width: 320px) {
    .grid{
        grid-template-areas: 
        "main"
        "side"
        "footer";
        grid-template-columns: 100vw;
        padding-bottom: 0px;
        }

        aside{
            display: inline;
        }
    }
