/*======================*/
/*    Menu Navegador    */
/*======================*/
.navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    background-color: #703757;
    right: 0;
    top: 0;
    width: 100%;
    li{
        font-size: 20px;
        font-weight: $negrita;
        display: inline-block;
        text-align: $centrado;
        list-style-type: none;
        padding: 10px 10px;

        &:hover {
            background: #1D1D1B;
        }

        a:link, a:visited {
            color: $back-color;
        }
    }
}

#boton-buscar{
    background-color: $back-color;
}
#query{
    width: 200px;
    margin-right: 5px;
}