/*======================*/
/*       RECURSOS       */
/*======================*/
table{
    border: $border-tb;
    border-collapse: collapse;
    th{
    border: $border-tb; 
    }
    tr, td {
        border: $border-tb-in;
        padding: 5px;
    }
}