/*======================*/
/*       RECURSOS       */
/*======================*/
table{
    border: 2px solid black;
    border-collapse: separate;
    tr, td {
        border: $border;
        border-collapse: collapse; 
    }
}