/*======================*/
/*        TIENDA        */
/*======================*/
.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.item-tienda {
    padding: 15px;
}
.lista-cursos{
    list-style-type: none;
    text-align: center;
}
.move{
    height: 200px;
    width: 200px;
    padding: 10px;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(120%);
    }
}