/*============*/
/* body reset */
/*============*/
body{
    background-color: #ecc3c1;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

ul{
    list-style-type: none;
    a {
        text-decoration: none;      
    }
}