@import "variables";
@import "tienda";
@import "recursos";
@import "blog";


/*======================*/
/*      Body reset      */
/*======================*/
body{
    background-color: #F6F1EE;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    a{
        text-decoration: none;
        font-weight: bold;   
        &:link, &:visited{
            color: #343A5A    
        }
    }
}
/*======================*/
/*  Estructura general  */
/*======================*/
.grid{
    display: inline-grid;
    grid-template-areas: 
    "main side"
    "main side"
    "main side"
    "footer footer";
    grid-template-columns: 70vw 25vw;  
    margin-top: 80px;
}
ul{
    list-style-type: none;
}
main{
    grid-area: main;
    padding: 25px;
}
.texto{
    letter-spacing: 2px;
    word-spacing: 2px;
}
.centrado{
    text-align: center;
}
/*======================*/
/*    Menu Navegador    */
/*======================*/
.nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    background-color: #703757;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    li{
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        list-style-type: none;
        padding: 20px 20px;

        &:hover {
            background: #1D1D1B;
        }

        a:link, a:visited {
            color: #ECC3C1
        }
    }
}
#logo-vero {
    margin-top: 5px;
}
#boton-buscar{
    background-color: #ECC3C1;
}
#query{
    width: 200px;
    margin-right: 5px;
}
/*======================*/
/* Contenido Principal */
/*======================*/
main{
    grid-area: main;
    padding: 25px;
}
/*======================*/
/*   Menu a la derecha  */
/*======================*/
aside{
    grid-area: side;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    padding: 35px;
}
ol{
    text-decoration: none;
}
.item-menu-der{
    border: $border;
    padding: 10px 15px;
    background-color: #ECC3C1;
    border-collapse: collapse;
    flex: 1 1 auto;
}
.input-news{
    width: 200px;
    flex: 1 1 auto;
}
#suscripcion{
    justify-content: center;
}
#terminos-condiciones{
    padding-top: 10px;
    padding-bottom: 5px;
}
#formulario{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#boton-suscribir{
    background-color: #F6F1EE;
    border-color: #C27F88;
}
/*======================*/
/*        Footer        */
/*======================*/
footer{
    grid-area: footer;
    overflow: hidden;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #703757;
    padding-top: 10px;
}
.redes-sociales{
    display: inline-block;
}
.logos{
    height: 30px;
    width: 30px;
    text-decoration: none;
}
